

.bg{
  background-image: linear-gradient(to bottom,rgb(238, 0, 255) 50%, rgb(0, 0, 0) 50%);

  height:100vh;
  width:100%;
}

.svg{
  /* border:2px solid red; */
  position:absolute;
  bottom:0;
  left:50px;
}





.hero{
   /* display: flex; */
   /* flex-direction: column;
   justify-content: center; */
   /* padding-left:20px;
   padding-right:20px; */
   font-size: 50px;
   font-weight: 700;
   /* align-items: center; */
   position: absolute;
   /* left:calc(50% - 50vw); */
   top:200px;
   width:100%;
   text-align: center;
   /* color:black; */
   color:white;
   /* border:2px solid black; */
  

}






.animation{
  /* color:#2E2E2E; */
  /* color:black; */
  /* border:2px solid red; */
  /* position:absolute; */
  /* width:300px; */
  margin-top:40px;
  font-weight: 600;
  font-size: 24px;


}

.btnhover{
  /* color:rgb(255, 255, 255); */
  border:1px solid white;
  /* border-radius: 10px; */
  /* background: radial-gradient(72.97% 270% at 50% 50%, rgb(168, 129, 254) 0%, rgb(100, 25, 255) 100%); */
  /* background-color: #fff; */
  
  transition: all 1s ease 0s;
}
.btnhover:hover{
  background:transparent;
  
  
}









.first-about-section {
    /* border:2px solid red; */
    padding-top:64px;
    padding-bottom:40px;
    padding-left: 150px;
    background-color: #f2f1ef;
  }

  
  .first-about-section  h2 {
    /* border:2px solid red; */
    font-size: 30px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  .first-about-section  p {
    /* border:2px solid red; */
    font-size: 18px;
    line-height: 32px;
    padding-right: 150px;
    /* width:800px; */
  }






  .our-presence-section {
    /* text-align: center; */
    padding: 50px 20px;
    padding-left: 150px;
    padding-right: 150px;
    /* border:2px solid red; */
    background-color: #ffffff;
  }
  .our-presence-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .our-presence-section .stats {
    /* border:2px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .our-presence-section .stat-item {
    margin: 20px;
    text-align: center;
  }
  .our-presence-section h3 {
    font-size: 80px;
    color: #1f0052; /* Adjust color as needed */
    margin: 0;
  }
  .our-presence-section p {
    font-size: 1em;
    color: #1f0052; /* Adjust color as needed */
    margin: 5px 0 0;
  }
  .stat-item:nth-child(2) h3,
  .stat-item:nth-child(4) h3 {
    color: red; /* Adjust color as needed */
  }
  .stat-item:nth-child(2) p,
  .stat-item:nth-child(4) p {
    color: red; /* Adjust color as needed */
  }





  .executive-section {
    text-align: left;
    /* border:2px solid red; */
    padding: 50px 20px;
    padding-top: 0px;
    padding-left:150px;
    padding-right:150px;
    background-color: white;
    text-align: justify;
    /* max-width: 800px; */
    
  }
  .executive-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .executive-section ul {
    /* border:2px solid red; */
    list-style-type: disc;
    padding-left: 40px;
  }
  .executive-section li {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .investment-strategy{
    background-color: #f2f1ef;
    text-align: justify;
    padding: 40px;
    padding-left: 150px;
    padding-right: 200px;
    
    color: #000;
  }



  .banner {
    background-color: #1f0052;
    padding: 80px;
    padding-left: 150px;
    
   
  }
  
  .banner-text-container {
    /* border:2px solid red; */
    /* text-align: center; */
    color: white;
  }
  
  .banner-text {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 70px;
  }
  
  .banner-section-button {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 4px;
  }
  





 .global-network-container {
    text-align: justify;
    padding: 40px;
    padding-left: 150px;
    padding-right: 200px;
    background-color: white;
    color: #000;
    /* max-width: 800px; */
    /* margin: 0 auto; */
  }
  
 .investment-strategy  .heading, .global-network-container .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
 .investment-strategy .text, .global-network-container .text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .global-network-container .button {
    margin-top: 20px;
    border-radius:4px;
    padding: 14px 40px 14px 46px;
    background-color: #d42a2b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  






 
  @media only screen and (max-width: 1034px) {
    .svg{
        display: none;
    }


    



  }
  @media only screen and (max-width: 752px) {
    .hero{
        font-size: 35px;
    }


    



  }







  @media only screen and (max-width: 727px) {
    .executive-section {
      
      padding-left:15px;
      padding-right:15px;
      
    }
    .investment-strategy, .global-network-container {
      
      padding-left: 15px;
      padding-right: 15px;
     
    }
  }


  @media only screen and (max-width: 1032px) {
    .aboutusheroline{
     
      font-size:60px;
      
      /* border:2px solid red; */
  }
  
  
  }
  @media only screen and (max-width:819px) {
    .aboutusheroline{
      /* top:100px; */
      margin-left:80px;
      /* width:500px; */
      /* left:0px; */
      /* border:2px solid red; */
      font-size:50px;
      
      
  }
  
  
  }
  @media only screen and (max-width:460px) {
    .aboutusheroline{
      top:100px;
      font-size:50px;
      
      
  }
  
  
  }