.hover-effect-wrapper {
    position: relative;
    overflow: hidden; /* Prevent overflow when scaling */
  }
  
  .hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease;
  }
  
  .hover-overlay {
    position: absolute;
    bottom: -100%; /* Start off screen */
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(242, 255, 0, 0.5)); /* Black with some transparency */
    transition: bottom 0.3s ease;
    pointer-events: none; /* Ensure overlay does not interfere with hover */
  }
  
  .hover-effect-wrapper:hover .hover-effect {
    transform: scale(1.1); /* Scale image */
  }
  
  .hover-effect-wrapper:hover .hover-overlay {
    bottom: 0; /* Move overlay to cover the image */
  }
  
  .heading {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    z-index: 1; /* Ensure the heading is above the overlay */
    width: calc(100% - 20px);
    transition: all 0.3s ease;
    max-height: 20px; /* Initially constrain to single line */
    overflow: hidden;
    opacity: 1;
    padding-bottom: 30px;
    
    
  }
  
  .short-heading {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
   
  }
  
  .full-content {
    text-align: justify;
    display: block; /* Initially visible but constrained */
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .hover-effect-wrapper:hover .heading {
    max-height: 500px; /* Expand to show full content on hover */
    opacity: 1;
  }
  
  .hover-effect-wrapper:hover .full-content {
    max-height: 500px; /* Expand to show full content on hover */
    opacity: 1;
  }
  