.container {
    /* background-image: linear-gradient(to right,rgb(1, 172, 172) 50%,rgb(1,172,172) 50%); */
    background-color: #000000;
    color:rgb(255, 255, 255);
}


@media only screen and (max-width: 727px) {
    .container {
        /* border:2px solid red; */
        padding-left: 15px;
        padding-right: 15px;
       
    }
    .text{
        font-size: 16px;
    }
  }