
.bg{
    background-image: linear-gradient(to bottom,rgb(144, 0, 255) 50%, rgb(144, 0, 255) 50%);
  
    height:100vh;
    width:100%;
  }
  
  .svg{
    /* border:2px solid red; */
    position:absolute;
    bottom:0;
    left:50px;
  }
  
  
  
  
  
  .hero{
     /* display: flex; */
     /* flex-direction: column;
     justify-content: center; */
     /* padding-left:20px;
     padding-right:20px; */
     font-size: 50px;
     font-weight: 700;
     /* align-items: center; */
     position: absolute;
     /* left:calc(50% - 50vw); */
     top:200px;
     width:100%;
     text-align: center;
     /* color:black; */
     color:white;
     /* border:2px solid black; */
    
  
  }
  
  
  
  
  
  
  .animation{
    /* color:#2E2E2E; */
    /* color:black; */
    /* border:2px solid red; */
    /* position:absolute; */
    /* width:300px; */
    margin-top:40px;
    font-weight: 600;
    font-size: 24px;
  
  
  }
  
  .btnhover{
    /* color:rgb(255, 255, 255); */
    border:1px solid white;
    /* border-radius: 10px; */
    /* background: radial-gradient(72.97% 270% at 50% 50%, rgb(168, 129, 254) 0%, rgb(100, 25, 255) 100%); */
    /* background-color: #fff; */
    
    transition: all 1s ease 0s;
  }
  .btnhover:hover{
    background:transparent;
    
    
  }